devops_venv/

terraform/
monitoring/
.github/

tests/
.pytest_cache/
requirements-dev.txt


ticket-api-basic/

# Git and standard ignores
.git
.gitignore
__pycache__/
*.pyc

Dockerfile
.dockerignore
compose.yml
README.md
